<h1>Exerciseur : Théorème de Pythagore</h1>
Soit un triangle \({{triangle}}\) rectangle en \({{right_angle}}\), avec \({{side_a}} =
{{length_a}}\) cm et \({{side_b}} = {{length_b}}\) cm.<br>

Calculer la valeur exacte et la valeur approchée au mm près de la longueur \({{hypotenuse}}\).<br>
<button class="pure-button" onclick="document.getElementById('hidden').style.visibility='visible';">Afficher la solution</button><br>
<div id="hidden" style="visibility: hidden;">
    Dans le triangle \({{triangle}}\) est rectangle en \({{right_angle}}\).
    D’après le théorème de Pythagore, on a:
    \[
    \begin{align}
    {{hypotenuse}}^2 &= {{side_a}}^2 + {{side_b}}^2 \\
    {{hypotenuse}}^2 &= {{length_a}}^2 + {{side_b}}^2 \\
    {{hypotenuse}}^2 &= {{a_squared}} + {{b_squared}} \\
    {{hypotenuse}}^2 &= {{sum_of_squares}} \\
    \end{align}
    \]
    On a \({{hypotenuse}}\) qui est une distance, donc \({{hypotenuse}} \geqslant 0\). Donc je peux prendre la racine carrée des 2 membres :
    \[
    \begin{align}
    \sqrt{ {{hypotenuse}}^2 } &= \sqrt{ {{sum_of_squares}} } \\
    {{hypotenuse}} &= \sqrt{ {{sum_of_squares}} } \text{ (valeur exacte)} \\
    {{hypotenuse}} &\approx {{length_hypotenuse}} \text{ (valeur approchée)} \\
    \end{align}
    \]

    La longueur \({{hypotenuse}}\) mesure \(\sqrt{ {{sum_of_squares}} }\) cm (ou
    approximativement \({{length_hypotenuse}}\) cm).<br>
    <button class="pure-button" onclick="resetProblem();">Nouvel exercice</button><br>
</div>